# Copyright 2023-2025 MICRORISC s.r.o.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

image: iqrftech/debian-c-builder:debian-bookworm-amd64

stages:
  - test
  - build-packages
  - deploy-docs

.ssh-template: &ssh-template
  before_script:
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_KNOWN_HOSTS" > ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts

deploy-docs:
  stage: deploy-docs
  environment:
    name: doxygen_${VERSION}
    url: https://apidocs.iqrf.org/libiqrf/${VERSION}
  script:
    - ssh www-deploy@icinga.iqrf.org "rm -rf /data/nginx/apidocs/cpp/libiqrf/${VERSION}/*"
    - ssh www-deploy@icinga.iqrf.org "mkdir -p /data/nginx/apidocs/cpp/libiqrf/${VERSION}"
    - rsync -hrvz --delete -e ssh docs/doxygen/html/* www-deploy@icinga.iqrf.org:/data/nginx/apidocs/cpp/libiqrf/${VERSION}
  needs:
    - coverage
  only:
    - master
    - /^v\d+\.\d+\.\d+$/
  variables:
    VERSION: $CI_COMMIT_REF_NAME
  <<: *ssh-template

include:
  - template: Security/SAST.gitlab-ci.yml
  # Tests
  - component: gitlab.iqrf.org/open-source/gitlab-ci-components/test-cpp-ctest-coverage@master
    inputs:
      job_name: coverage
      cmake_options: '-DBUILD_DOCS=ON'
      ctest_options: '--exclude-regex "_GPIO$"'
      distributions:
        - debian-bookworm
        - debian-trixie
      artifact_paths:
        - docs/doxygen/html
      project_dir: '.'
  # Packages
  - component: gitlab.iqrf.org/open-source/gitlab-ci-components/build-jsonnnet-deb-packages@master
    inputs:
      job_name: build-jsonnet
      stage: build-packages
  - component: gitlab.iqrf.org/open-source/gitlab-ci-components/trigger-build-jobs-deb-packages@master
    inputs:
      job_name: trigger-build-deb-packages
      stage: build-packages
      jsonnet_build_job: build-jsonnet
