Source: libiqrf
Section: libs
Priority: optional
Maintainer: Roman Ondráček <roman.ondracek@iqrf.com>
Build-Depends: debhelper (>= 12), debhelper-compat (= 12), cmake (>= 3.8),
 libgtest-dev
Standards-Version: 4.5.1
Homepage: https://gitlab.iqrf.org/open-source/iqrf-sdk/libiqrf
Vcs-Git: https://gitlab.iqrf.org/open-source/iqrf-sdk/libiqrf.git
Vcs-Browser: https://gitlab.iqrf.org/open-source/iqrf-sdk/libiqrf

Package: libiqrf-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libiqrf-common-dev (= ${binary:Version}),
 libiqrf-gpio-dev (= ${binary:Version}),
 libiqrf-log-dev (= ${binary:Version}),
Description: IQRF C++ libraries - development files
 Metapackage for IQRF libraries for C++.

Package: libiqrf-common-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}
Description: IQRF C++ common library - development files
 IQRF common library for C++.

Package: libiqrf-log0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ logging library - shared libraries
 IQRF logging library for C++.

Package: libiqrf-log-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libiqrf-log0 (= ${binary:Version}), ${misc:Depends}
Description: IQRF C++ logging library - development files
 IQRF logging library for C++.
 .
 This package contains files for development and static libraries.

Package: libiqrf-log-examples
Section: misc
Architecture: any
Depends: libiqrf-log0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ logging library - example files
 IQRF logging library for C++.
 .
 This package contains example files and demonstration programs.

Package: libiqrf-gpio-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libiqrf-gpio0 (= ${binary:Version}), ${misc:Depends}
Description: IQRF C++ GPIO library - development files
 IQRF GPIO library for C++.
 .
 This package contains files for development and static libraries.

Package: libiqrf-gpio-examples
Section: misc
Architecture: any
Depends: libiqrf-gpio0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ GPIO library - example files
 IQRF GPIO library for C++.
 .
 This package contains example files and demonstration programs.

Package: libiqrf-gpio0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ GPIO library - shared libraries
 IQRF GPIO library for C++.

Package: libiqrf-connector-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libiqrf-connector0 (= ${binary:Version}), ${misc:Depends}
Description: IQRF C++ TR connector library - development files
 IQRF TR connector library for C++ for SPI, UART and USB CDC.
 .
 This package contains files for development and static libraries.

Package: libiqrf-connector-examples
Section: misc
Architecture: any
Depends: libiqrf-connector0 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ TR connector library - example files
 IQRF TR connector library for C++ for SPI, UART and USB CDC.
 .
 This package contains example files and demonstration programs.

Package: libiqrf-connector0
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IQRF C++ TR connector library - shared libraries
 IQRF TR connector library for C++ for SPI, UART and USB CDC.
